[submodule "libs/zx"]
	path = libs/zx
	url = git@github.com:luke-hiiot/zx.git
[submodule "libs/http.zig"]
	path = libs/http.zig
	url = git@github.com:luke-hiiot/http.zig.git
[submodule "libs/websocket.zig"]
	path = libs/websocket.zig
	url = git@github.com:luke-hiiot/websocket.zig.git
[submodule "libs/metrics.zig"]
	path = libs/metrics.zig
	url = git@github.com:luke-hiiot/metrics.zig.git
